body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #dcdcdc;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 48px;
	width: 100%;
	background: #000;
	text-align: right;
}
